<div class="main-container">
  <div class="flipHide">
    <div id='code-path'>
      <h1> <%= link_to '1 CODE', codes_path %></h1>
    </div>

    <div id="code-text">
      <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h1>
    </div>

    <div class="contact">
      <h1><a href="mailto: mshenaj@gmail.com">E-MAIL</a></h1>
    </div>

    <div class="back-button">
      <h1><%= link_to 'HOME', root_path %></h1>
    </div>

    <footer class='footer'>
      <span class="copyright">
        <h1> Made with love in Belgium © MARLA SH 2020 </h1>
      </span>
    </footer>
  </div>


  <div class="flipShow">
    <div id='code-path'>
      <h1>  <%= link_to '2 CURATE', codes_path %></h1>
    </div>

    <div id="curate-text">
      <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h1>

    </div>

    <div class="contact-curate">
      <h1><a href="mailto: mshenaj@gmail.com">E-MAIL</a></h1>
    </div>

    <div class="back-button-curate">
      <h1><%= link_to 'HOME', root_path %></h1>
    </div>

    <footer class='footer'>
      <span class="copyright">
        <h1> Made with love in Belgium © MARLA SH 2020 </h1>
      </span>
    </footer>
  </div>
</div>


<%= javascript_pack_tag "flip" %>

