<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>World of 2C</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= yield %>

    <%= javascript_include_tag 'application'%>
    <%= javascript_pack_tag 'application' %>
  </body>



</html>
