<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>2C - CodeCurate</title>
    <meta name= "description" content= "Welcome to a world of 2C to code and curate your projects. Freelance developper and independent curator based in Belgium." />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= yield %>

    <%= javascript_include_tag 'application'%>
    <%= javascript_pack_tag 'application' %>
  </body>



</html>
